CLASE5/flows (13).json
[
    {
        "id": "02a86489cc497e41",
        "type": "mqtt in",
        "z": "ddec371df936116d",
        "name": "",
        "topic": "canalx",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "865cb99a69f1dc06",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "f40947ac3c43c924",
                "0b3caba44accd032",
                "3e31982696befd0e"
            ]
        ]
    },
    {
        "id": "3e31982696befd0e",
        "type": "debug",
        "z": "ddec371df936116d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "bf32527b9d7ab0d5",
        "type": "ui-gauge",
        "z": "ddec371df936116d",
        "name": "Temperatura",
        "group": "59555f0d06d9d491",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 790,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f40947ac3c43c924",
        "type": "function",
        "z": "ddec371df936116d",
        "name": "function 2",
        "func": "msg.payload = msg.payload.split(\",\")[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 300,
        "wires": [
            [
                "bf32527b9d7ab0d5"
            ]
        ]
    },
    {
        "id": "0b3caba44accd032",
        "type": "function",
        "z": "ddec371df936116d",
        "name": "function 3",
        "func": "msg.payload = msg.payload.split(\",\")[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 360,
        "wires": [
            [
                "8cbf538d7a5d2ec8"
            ]
        ]
    },
    {
        "id": "8cbf538d7a5d2ec8",
        "type": "ui-gauge",
        "z": "ddec371df936116d",
        "name": "Humedad",
        "group": "59555f0d06d9d491",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humedad",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 780,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2164c179a377f3a9",
        "type": "mqtt out",
        "z": "ddec371df936116d",
        "name": "",
        "topic": "canaly",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "865cb99a69f1dc06",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "f7eda6cecc978622",
        "type": "inject",
        "z": "ddec371df936116d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola",
        "payloadType": "str",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "2164c179a377f3a9"
            ]
        ]
    },
    {
        "id": "c00f022a23f9a555",
        "type": "ui-switch",
        "z": "ddec371df936116d",
        "name": "LED",
        "label": "switch",
        "group": "59555f0d06d9d491",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "a",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "b",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "2164c179a377f3a9"
            ]
        ]
    },
    {
        "id": "9152965ccb8736c4",
        "type": "mysql",
        "z": "ddec371df936116d",
        "mydb": "b4b0d592afcb5ecc",
        "name": "",
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "863b27aadc65a319",
        "type": "inject",
        "z": "ddec371df936116d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22,60",
        "payloadType": "str",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "daba9c3fcbe87bdd"
            ]
        ]
    },
    {
        "id": "daba9c3fcbe87bdd",
        "type": "function",
        "z": "ddec371df936116d",
        "name": "function 4",
        "func": "let temp = msg.payload.split(\",\")[0];\nlet humi = msg.payload.split(\",\")[1];\nlet out = \"INSERT INTO sensores (id, tiempo, temperatura, humedad) \";\nout = out + \"VALUES (NULL, CURRENT_TIMESTAMP,\" + temp + \",\"+ humi+ \");\";\nmsg.topic = out;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            [
                "9152965ccb8736c4"
            ]
        ]
    },
    {
        "id": "56a66d4dcd36f990",
        "type": "function",
        "z": "ddec371df936116d",
        "name": "consulta",
        "func": "msg.topic = \"SELECT * FROM sensores ORDER BY id DESC LIMIT 1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "6283eabdfdd9eb0e"
            ]
        ]
    },
    {
        "id": "6283eabdfdd9eb0e",
        "type": "mysql",
        "z": "ddec371df936116d",
        "mydb": "b4b0d592afcb5ecc",
        "name": "",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "0bf7a68cba889091",
                "a4b19d3d74485372"
            ]
        ]
    },
    {
        "id": "e9205b7dddf37817",
        "type": "debug",
        "z": "ddec371df936116d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "3b3b752b4e67d4ca",
        "type": "inject",
        "z": "ddec371df936116d",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "56a66d4dcd36f990"
            ]
        ]
    },
    {
        "id": "0bf7a68cba889091",
        "type": "function",
        "z": "ddec371df936116d",
        "name": "temperatura",
        "func": "msg.payload = msg.payload[0].temperatura;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a4b19d3d74485372",
        "type": "function",
        "z": "ddec371df936116d",
        "name": "humedad",
        "func": "msg.payload = msg.payload[0].humedad;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 520,
        "wires": [
            [
                "e9205b7dddf37817"
            ]
        ]
    },
    {
        "id": "865cb99a69f1dc06",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "59555f0d06d9d491",
        "type": "ui-group",
        "name": "Group 1",
        "page": "6a5004f48f22b66d",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "b4b0d592afcb5ecc",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "MONITOREO",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6a5004f48f22b66d",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "9e678c1cdf9d110a",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "18fb8a5cc420c5bb",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9e678c1cdf9d110a",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "18fb8a5cc420c5bb",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c1621fd28796008d",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.26.0",
            "node-red-node-mysql": "2.0.0"
        }
    }
]